# .gitignore
__pycache__/
*.py[cod]
*$py.class

# Database (ปกติเราไม่เอา db ขึ้นกัน แต่ถ้าจะเอาไว้โชว์ Demo ง่ายๆ ก็ลบบรรทัดนี้ออกได้ครับ)
db.sqlite3

# Environment variables
.env
.venv
venv/
env/

# OS specific files
.DS_Store
Thumbs.db